body { 
  margin: 0; 
  background: black;
}

canvas { 
  width: 50%; 
  height: 50%;
}

.numbers {
  color: white;
  font-size: 14px;
  background: black;
  font-family: helvetica;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 20px;

}

.container {
  width: 500px;
}



